.Chat-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin:0px;
    padding: 0px;
    .welcome-window{
        flex:4;
        height: 100vh;
        margin: 0px;
    }
    .side-bar{
        flex:1;
        height: 100vh;
        max-width: 20vw;
        margin:0px;
    }
}