.Sidebar-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #35363a;
  color: #eeeeee;
}

.Sidebar-container .Sidebar-heading {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #35363a;
  margin-bottom: 2px;
  -webkit-box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.26);
          box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.26);
}

.Sidebar-container .Sidebar-heading .App-name {
  width: 300px;
  margin-left: 10px;
  color: #eeeeee;
  font-size: 20px;
}

.Sidebar-container .Sidebar-heading .heading-menu {
  background-color: #35363a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(255, 255, 255, 0.1);
}

.Sidebar-container .Sidebar-heading .heading-menu:hover {
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
}

.Sidebar-container .Sidebar-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  margin-bottom: 2px;
  -webkit-box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.26);
          box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.26);
  background-color: #35363a;
}

.Sidebar-container .Sidebar-search .Search-form {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #35363a;
  border-radius: 20px;
  overflow: hidden;
  /*&:hover .search-icon {
                color: $Sidebar_hover;
                text-shadow: 0 0 15px $Sidebar_hover;
            }*/
}

.Sidebar-container .Sidebar-search .Search-form .Search-input {
  height: 40px;
  width: 70%;
  background-color: #35363a;
  color: #eeeeee;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  outline: none;
  -webkit-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5), inset -2px -2px 10px rgba(255, 255, 255, 0.1);
          box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5), inset -2px -2px 10px rgba(255, 255, 255, 0.1);
}

.Sidebar-container .Sidebar-search .Search-form .plus {
  border: none;
  outline: none;
  background-color: #35363a;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(255, 255, 255, 0.1);
}

.Sidebar-container .Sidebar-search .Search-form .plus:hover {
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
}

.Sidebar-container .Sidebar-chat-list {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2px;
  -webkit-box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.26);
          box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.26);
  background-color: #35363a;
}

.Sidebar-container .Sidebar-chat-list .user {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-x: hidden;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.Sidebar-container .Sidebar-chat-list .user .user-ava {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  height: 50px;
  padding: 0px 5px;
  -webkit-box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
}

.Sidebar-container .Sidebar-chat-list .user .user-info {
  width: 80%;
}

.Sidebar-container .Sidebar-chat-list .user .user-info .user-name {
  font-size: 20px;
}

.Sidebar-container .Sidebar-chat-list .user .user-info .lastMessage {
  font-size: 14px;
  color: #bdbdbd;
}

.Sidebar-container .Sidebar-chat-list .user:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.Sidebar-container .Sidebar-chat-list .active {
  -webkit-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5), inset -2px -2px 10px rgba(255, 255, 255, 0.1);
          box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5), inset -2px -2px 10px rgba(255, 255, 255, 0.1);
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
}

.Sidebar-container .Sidebar-current-user {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
  -webkit-box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.26);
          box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.26);
  background-color: #35363a;
}

.Sidebar-container .Sidebar-current-user .current-user-name {
  width: 300px;
  margin-left: 10px;
  color: #eeeeee;
  font-size: 20px;
}

.Sidebar-container .Sidebar-current-user #logout {
  background-color: #35363a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(255, 255, 255, 0.1);
}

.Sidebar-container .Sidebar-current-user #logout:hover {
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
}
/*# sourceMappingURL=SideBar.css.map */